@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;700&family=Lexend+Deca&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}
main {
  width: 72%;
  margin: auto;
  height: 30vh;
}
#main-div {
  width: 72%;
  margin: 80px;
  padding: 0px 20px 0px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}
.sedans-div {
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
  height: 360px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.suv-div {
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
  height: 360px;
}
.luxury-div {
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
  height: 360px;
      border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 4em;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}
img {
  padding-top: 0.1em;
  padding-bottom: 2em;
}
h3 {
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  font-family: "Big Shoulders Display", cursive;
  padding-bottom: 30px;
}
button {
  color: hsl(0, 0%, 95%);
  background-color: inherit;
  border: 2px solid hsla(0, 0%, 100%, 0.75);
  border-radius: 25px;
  width: 150px;
  height: 7vh;
  margin-bottom: 100em;
}
button a {
  color: hsl(0, 0%, 95%);
  background-color: inherit;
  text-decoration: none;
  text-align: center;
}
.grid-button{
  background-color: aqua;
  font-size: 20px;
  margin-top: -250px;
  align-self: center;
  justify-content: center;
}